<footer>
	<div class="container">
		<div class="footer">
			<div class="left">
				<div class="logo-footer">
					<img src="assets/img/logo.png" alt="">
				</div>

				<h1>Tanie responsywne strony internetowe</h1>
				<h2>dla firm</h2>
			</div>

			<div class="right">
				<h2>Napisz jeżeli masz pytanie</h2>

				<form action="#">
					<fieldset>
						<label for="name">Imię i nazwisko</label>
						<input type="text" id="name">
					</fieldset>

					<fieldset>
						<label for="message">Treść wiadomości</label>
						<textarea name="content" id="message"></textarea>
					</fieldset>

					<fieldset>
						<button type="submit">Wyślij wiadomość</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</footer>